$c-background: rgb(240, 240, 240);
$c-background-light: rgb(246, 246, 246);
$c-background-slightly-dark: darken($c-background, 4%);
$c-background-dark: darken($c-background, 10%);

$c-text-dark: rgb(46, 46, 46);
$c-text-light: rgb(246, 246, 246);

$c-accent: rgb(83, 161, 184);
$c-accent-light: lighten($c-accent, 8%);
$c-accent-lighter: lighten($c-accent, 16%);

$c-gray: rgb(180, 180, 180);
$c-gray-light: rgb(220, 220, 220);
$c-gray-dark: rgb(90, 90, 90);

$c-green: rgb(155, 214, 61);
$c-green-light: lighten($c-green, 8%);
$c-green-lighter: lighten($c-green, 15%);

$c-red: #F96854;
$c-red-light: lighten($c-red, 5%);
