// CSS to standardize fonts, colors and basic formatting, and ensure browser defaults are overridden.

// Variables:
$fw-normal: 300;
$fw-bold: 500;
$fw-extra-bold: 900;

$header-height: 53px;  // Only use in window height calculations
$sidebar-width: 210px;
$std-font-size: 1.15em;
$cat-ball-size: 180px;


// Reset:
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
sup {
    vertical-align: super;
}


// Standardize:
body {
    color: $c-text-dark;
    font-family: 'Roboto', sans-serif;
    font-weight: $fw-normal;
    font-size: 1em;
    background-color: $c-background;
}
h1, h2, h3, h4, h5 {
    color: $c-accent;
    font-weight: $fw-normal;
}
h1 {
    padding: 0.6em;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    padding: 0.5em;

    .material-icons {
        vertical-align: top;
    }
}
h3 {
    font-size: 1.3em;
}

p {
    margin: 0.7em 1em;
    font-size: $std-font-size;
    line-height: 1.25em;
}

b {
    font-weight: $fw-bold;
}

a {
    color: $c-accent;
    text-decoration: none;
}

q {
    @extend p;
    display: block;
    padding-left: 1em;
    border-left: 2px solid $c-accent;
}

ol {
    margin: 0.7em 1em;
    font-size: $std-font-size;
    line-height: 1.25em;

    li {
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
}
ul {
    margin: 0.7em 1em;
    font-size: $std-font-size;
    line-height: 1.25em;

    li{
        margin-left: 1.2em;
    }
}

hr {
    margin: 2em 0;
    border-bottom: 1px solid rgba(black, 0.1);
}

pre {
    display: inline-block;
    padding: 0.3em 0.4em;
    border-radius: 2px;
    border: 1px solid rgba($c-green, 0.8);
    background-color: rgba($c-green, 0.1);
    color: darken($c-green, 15%);
}

.material-icons {
    vertical-align: middle;
}

.anchor-wrapper {
    position: relative;
}
.anchor {
    position: absolute;
    top: -4em;
}

.green-text {
    color: rgb(155, 214, 61);
}
.red-text {
    color: #F96854;
}
