// These variables are only needed so SCSS doesn't throw an error when importing the core
$c-accent: rgb(65, 187, 217);
$c-accent-alt: rgb(242, 191, 56);
$hide_header_patreon_bar: 1102px;
$shrink_hack_width: 850px;
$default_banner_img: url(/files/site_images/landing/robert_bodis_red_straight.jpg);
$display_banner_credit: block;  // Hide if it's only our own work

@import "../core/core";

body {
    margin: 0;
    font-family: 'PT Mono', monospace;
    font-size: 1em;
}

#header {
    background-color: $c-accent;
    padding: 0 1em;
    min-height: inherit;
    width: calc(100% - 2em);
    text-align: center;

    .header-item {
        display: inline-block;
        padding: 0.4em;
        margin: 0.3em 0;
        border: 1px solid rgba(255,255,255, 0.2);
        @include transition(0.3s);

        .fa {
            font-size: 1.2em;
            vertical-align: middle;
            margin-left: 0.2em;
            margin-right: -0.1em;
        }
        p {
            display: inline;
            vertical-align: bottom;
        }
    }
    .header-item:hover {
        background-color: lighten($c-accent, 10%);
        border-color: rgba(255,255,255, 0.5);
        @include transition(0.1s);
    }
}

#page-wrapper {
    position: absolute;
    width:100%;
    max-width: none;
    height: calc(100% - 45px);
}

#page {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em;
}

.col-2 {
    width: calc(50% - 5px);
    vertical-align: top;
}

.center-all {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.button-wrapper {
    margin: 1em;
}
.button {
    text-decoration: none !important;

    .fa {
        vertical-align: middle;
    }
}

h2.subheader {
    margin-top: 0.1em;
    font-weight: normal;
    font-size: 1.4em;
}

p {
    margin: 1em 0;
}

b {
    font-weight: 900;
}

a.no-underline {
    text-decoration: none !important;
}

q {
    display: inline-block;
    padding: 0 0.25em;
    margin: 0;
    background-color: rgba(0,0,0, 0.03);
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 2px;
    font-style: normal;
}
q:before, q:after {
    content: none;
}

form {
    padding: 2em;

    h2 {
        display: inline-block;
        font-size: 1em;
        padding: 0.4em 0 !important;
        font-style: normal;
    }

    em {
        display: inline-block;
        padding: 0.4em 0;
    }

    .form-item {
        padding: 0.5em 0;
        border-bottom: 1px solid rgba(0,0,0, 0.15);
    }
    .form-item:first-child {
        border-top: 1px solid rgba(0,0,0, 0.15);
    }

    .cat-option {
        padding: 0.3em 0.4em;
        margin: 0.1em;
        font-size: 1em;
        color: white;
        cursor: pointer;
    }
    .tag-option {
        @extend .cat-option;
        margin: 0.5px;
        vertical-align: middle;
    }

    .show-tooltip {
        padding: 0.45em;
        vertical-align: middle;
        cursor: pointer;
        @include transition(0.3s);
        opacity: 0.9;
    }
    .show-tooltip:hover {
        color: $c-accent;
        @include transition(0.1s);
    }
    .tooltip {
        display: inline-block;
        font-style: italic;
        vertical-align: middle;
    }

    input[type=text] {
        width: 150px;
        padding: 0.5em;
        margin: 0.2em 0.15em;
        vertical-align: middle;
        font-family: 'PT Mono', monospace;
    }
    input[type=number] {
        width: 150px;
        padding: 0.5em;
        margin: 0.5em 0.15em;
        vertical-align: middle;
        font-family: 'PT Mono', monospace;
    }
    input[type=checkbox] {
        margin-right: 0.5em;
    }
    input#form-name, input#form-slug, input#form-problem, input#form-reddit {
        width: 50%;
    }
    input#form-cats {
        width: calc(100% - 10em - 3em);
    }
    input#form-tags {
        width: calc(100% - 6em - 3em);
    }
    input#form-gumroad {
        width: calc(100% - 12em - 3em);
    }
    input#form-sketchfab-id {
        width: calc(100% - 12em - 3em);
    }
    input#form-twitface {
        width: calc(100% - 12em - 3em);
    }

    label.button {
        cursor: pointer;
    }

    button#submit {
        font-family: 'PT Mono', monospace;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3em;
        margin-top: 1em;
        cursor: pointer;

        .fa {
            padding-left: 0.35em;
        }
    }
}

#product-list {
    table {
        width: 100%;
        border-spacing: 0;
    }

    tr.header-row {
        font-weight: 600;
    }

    td {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
    }
    tr:first-child td {
        border-top: 1px solid rgba(0,0,0, 0.1);
    }
    td:first-child {
        border-left: 1px solid rgba(0,0,0, 0.1);
    }
    td:last-child {
        border-right: 1px solid rgba(0,0,0, 0.1);
    }

    td.name {
        text-align: left;

        p {
            display: inline;
            vertical-align: middle;
        }
    }
    td.buttons {
        .button {
            display: inline-block;
            margin-right: 1em;
            padding: 0.2em 0.3em;
        }
        a:last-child .button {
            margin-right: 0;
        }
        .button .fa {
            vertical-align: baseline;
        }
    }

    img.thumbnail {
        width: 80px;
        margin-bottom: -3px;
        @include transition(0.2s);

        &:hover {
            @include scale(3);
            @include transition(0.1s);
        }
    }
}

.fa-exclamation-triangle {
    color: $c-accent;
}

#preview-img {
    position: fixed;
    width: calc(50% - 1em);
    padding: 1.5em;
}
