// These variables are only needed so SCSS doesn't throw an error when importing the core
$c-accent: rgb(65, 187, 217);
$c-accent-alt: rgb(242, 191, 56);
$hide_header_patreon_bar: 1102px;
$shrink_hack_width: 850px;
$default_banner_img: url(/files/site_images/landing/robert_bodis_red_straight.jpg);
$display_banner_credit: block;  // Hide if it's only our own work

@import "../core/core";
@import "../core/admin_core";

#preview-img {
    position: fixed;
    width: calc(50% - 1em);
    padding: 1.5em;
}
