// Smaller than 760

.hide-mobile {
    display: none !important;
}

#header-logo {
    display: block;
    text-align: center;
}
@media all and (max-width: 360px){
    // Make space for nav button on teeny tiny screens
    #header-logo img {
        width: calc(100% - 2em - 2em);
        padding-top: calc(1em - 5%);
    }
}
#navbar-toggle {
    display: block;
}
ul#navbar {
    width: 100%;
    display: none;

    li {
        display: block;
        border-top: 1px solid rgba(white, 0.2);
        border-left: none;
    }
}

#landing-banner-wrapper {
    height: 50vh;
}
#banner-img {
    height: 50vh;
}
#banner-img-a, #banner-img-b {
    @extend #banner-img;
}
.banner-img-paddle {
    display: none;
}
.banner-img-credit {
    display: none;
}

.announcement-green {
    font-size: 1.7em;
}

.col-2, .col-3, .col-4 {
    width: 100%;
    padding-bottom: 2em;

    &:last-child {
        padding-bottom: 0;
    }
}
.segment-a .col-2 {
    padding-bottom: 0;

    .patreon-stat {
        padding: 0.5em;
    }
}

.patreon-bar-wrapper {
    max-width: 100%;
    padding: 0 1em;
}
.patreon-current-goal {
    text-align: center;
}

.me-wrapper {
    text-align: center;
}
.me {
    float: none;
    margin: 1em;
}

#footer {
    .footer-links {
        li {
            padding-bottom: 1em;
        }
    }

    .footer-patrons {

        .patron-list {
            font-size: 0.88em;
        }

        .patron {
            padding: 0.07em 0.18em;
        }
    }
}
.footer-cat {
    margin-left: 0;
}

#email-form {
    display: block;
    margin-top: 0.7em;
    margin-left: 0;
}

.category-list-images li{
    margin: 0 0.5em;
    width: 100px;
    height: 100px;

    p {
        line-height: 100px;
    }
}
#hdris-landing-page .category-segment {
    overflow-x: scroll;
}
#hdris-landing-page .grid-item {
    width: auto;
}

#sidebar-toggle {
    display: block;
}
#sidebar {
    z-index: 2;
    left: -200px;
    display: none;
}
#hdri-grid-wrapper {
    left: 0;
    width: auto;

    .title-bar {
        .grid-option {
            padding: 0.35em 0.5em;
            width: calc(100% - 1em - 2px);
            margin-top: 0.7em;
        }
        .search-box {
            max-width: none;
            padding: 0.35em 0.5em;
        }
    }
}
.grid-item {
    width: calc(100% - 2px);
    margin: 0; 
}

.hdri-preview-mobile {
    height: 80vh;
}

.download-buttons {
    padding: 1em;
}

#backplates-grid {
    .item {
        width: calc(50% - 10px);
    }
}
