* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

sup {
  vertical-align: super; }

body {
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  background-color: #f0f0f0; }

h1, h2, h3, h4, h5 {
  color: #53a1b8;
  font-weight: 300; }

h1 {
  padding: 0.6em;
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  padding: 0.5em; }
  h2 .material-icons {
    vertical-align: top; }

h3 {
  font-size: 1.3em; }

p, q {
  margin: 0.7em 1em;
  font-size: 1.15em;
  line-height: 1.25em; }

b {
  font-weight: 500; }

a {
  color: #53a1b8;
  text-decoration: none; }

q {
  display: block;
  padding-left: 1em;
  border-left: 2px solid #53a1b8; }

ol {
  margin: 0.7em 1em;
  font-size: 1.15em;
  line-height: 1.25em; }
  ol li {
    margin-left: 1em;
    margin-bottom: 0.5em; }

ul {
  margin: 0.7em 1em;
  font-size: 1.15em;
  line-height: 1.25em; }
  ul li {
    margin-left: 1.2em; }

hr {
  margin: 2em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

pre {
  display: inline-block;
  padding: 0.3em 0.4em;
  border-radius: 2px;
  border: 1px solid rgba(155, 214, 61, 0.8);
  background-color: rgba(155, 214, 61, 0.1);
  color: #72a423; }

table {
  text-align: center;
  margin: 1.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: calc(100% - 2em); }
  table td, table th {
    padding: 0.2em;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    table td:last-child, table th:last-child {
      border-right: none; }
  table th {
    padding: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.material-icons {
  vertical-align: middle; }

.anchor-wrapper {
  position: relative; }

.anchor {
  position: absolute;
  top: -4em; }

.green-text {
  color: #7cc010; }

.red-text {
  color: #F96854; }

.hide {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; }

.hidden {
  display: none !important; }

.debug-num {
  display: inline-block;
  display: none;
  padding: 0.5em; }

.center {
  text-align: center; }

.button, .button-light, .button-inline, .button-red, .download-buttons .button {
  display: inline-block;
  padding: 0.75em 1em;
  font-size: 1.15em;
  background-color: #53a1b8;
  color: #f6f6f6;
  border: 1px solid #53a1b8;
  transition: all 0.2s ease; }
  .button:hover, .button-light:hover, .button-inline:hover, .button-red:hover {
    background-color: #70b1c4;
    border-color: rgba(246, 246, 246, 0.3);
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease;
    transition: all 0.15s ease; }

.button-light {
  background-color: #70b1c4;
  border-color: rgba(246, 246, 246, 0.2); }
  .button-light:hover {
    background-color: #8dc1d0;
    color: white; }

.button-inline {
  margin: 0 0.25em; }

.button-disabled {
  color: gainsboro !important;
  background-color: #b4b4b4 !important;
  border-color: #b4b4b4 !important; }

.button-red {
  background-color: #F96854;
  border-color: #F96854; }
  .button-red:hover {
    background-color: #fa7e6d;
    border-color: #F96854;
    color: white; }

#toggle-16k-info {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 1.3em;
  float: right;
  color: #F96854;
  cursor: pointer;
  transition: all 0.3s ease; }
  #toggle-16k-info:hover {
    transform: scale(1.1);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease; }

#popup-16k {
  position: absolute;
  right: 0;
  top: 3em;
  z-index: 2;
  max-width: 360px;
  padding: 0.6em;
  margin-right: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid rgba(249, 104, 84, 0.5);
  text-align: justify;
  font-size: 1.05em;
  line-height: 1.2em;
  transition: all 0.2s ease; }
  #popup-16k a {
    color: #F96854; }

.col-4 #toggle-16k-info {
  right: auto;
  top: 0.8em;
  font-size: 0.95em; }
.col-4 #popup-16k {
  top: 0;
  margin: 0 0.5em; }

.announcement-green {
  background-color: #9bd63d;
  color: #f6f6f6;
  font-weight: 500;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25); }
  .announcement-green h1, .announcement-green h2, .announcement-green h3 {
    color: #f6f6f6;
    font-weight: 500; }
  .announcement-green b {
    font-weight: 900; }
  .announcement-green .button, .announcement-green .button-light, .announcement-green .button-inline, .announcement-green .button-red {
    background-color: #acdd5f;
    color: white;
    border-color: rgba(255, 255, 255, 0.3);
    transition: all 0.25s ease; }
    .announcement-green .button:hover, .announcement-green .button-light:hover, .announcement-green .button-inline:hover, .announcement-green .button-red:hover {
      background-color: #bce37c;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      transition: all 0.15s ease; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.col-2, .col-3, .col-4 {
  width: calc(50% - 2px);
  display: inline-block;
  vertical-align: middle; }

.col-3 {
  width: calc(33.33% - 3px); }

.col-4 {
  width: calc(25% - 3px); }

@media all and (max-width: 900px) {
  .col-4 {
    width: calc(50% - 2px);
    padding-bottom: 2em; }
    .col-4:last-child {
      padding-bottom: 0; } }
.heart, .heart-inline {
  position: relative;
  top: 0.15em;
  width: 1em;
  padding-left: 0.3em; }

.heart-inline {
  top: 0.05em;
  width: 0.8em;
  transform: scale(1.5);
  padding-left: 0.4em; }

.small {
  font-size: 0.9em;
  margin: 1.2em; }

#page-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding: 2em 0; }
  #page-wrapper h1 {
    padding: 1em 0.5em 0.3em; }
  #page-wrapper h2 {
    padding: 0.75em 0.75em 0; }

.me {
  float: left;
  margin: 1em;
  margin-right: 2em;
  border-radius: 50%;
  box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease; }

#btc-address-wrapper {
  display: none;
  padding-left: 1em; }

#header {
  position: fixed;
  width: 100%;
  min-height: 53px;
  z-index: 20;
  background-color: #53a1b8;
  color: #f6f6f6; }
  #header .patreon-bar-wrapper {
    display: inline-block;
    float: right;
    margin: 0 1em;
    margin-top: 13.5px;
    min-width: 200px; }
    #header .patreon-bar-wrapper .patreon-bar-outer {
      height: 22px;
      border: 2px solid #f6f6f6; }
      #header .patreon-bar-wrapper .patreon-bar-outer .patreon-bar-inner {
        height: 18px;
        min-width: 12px;
        background-color: #f6f6f6; }
        #header .patreon-bar-wrapper .patreon-bar-outer .patreon-bar-inner .patreon-bar-text {
          text-align: center; }
          #header .patreon-bar-wrapper .patreon-bar-outer .patreon-bar-inner .patreon-bar-text .text {
            position: relative;
            top: -4px;
            margin-left: -0.15em;
            font-size: 0.85em;
            font-weight: 500; }
          #header .patreon-bar-wrapper .patreon-bar-outer .patreon-bar-inner .patreon-bar-text img {
            height: 18px; }
  @media all and (max-width: 1145px) {
    #header .patreon-bar-wrapper {
      display: none; } }

#header-logo {
  display: inline-block;
  padding: calc(0.5em + 2px) 1em; }

#navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none; }
  #navbar-toggle i {
    padding: 0.5em;
    font-size: 1.65em; }

ul#navbar {
  display: inline-block;
  list-style-type: none;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  float: right; }
  ul#navbar li {
    display: inline-block;
    padding: 1.2em 1em;
    margin: 0;
    text-align: center;
    color: #f6f6f6;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease; }
    ul#navbar li:hover {
      background-color: rgba(255, 255, 255, 0.15);
      transition: all 0.15s ease; }
  ul#navbar a:last-child li {
    border-right: none; }

.nav-bar-spacer {
  height: 53px; }

@media all and (max-width: 881px) and (min-width: 760px) {
  .shrink-hack {
    display: none; } }
#footer {
  width: auto;
  background-color: #5a5a5a;
  color: #f6f6f6;
  text-align: center; }
  #footer .footer-links {
    padding: 1em;
    margin: 0;
    font-size: 1em;
    line-height: 1em; }
    #footer .footer-links li {
      display: inline-block;
      padding-right: 1em;
      margin: 0; }
    #footer .footer-links li:last-child {
      padding-right: 0; }
  #footer .footer-patrons {
    max-width: 1500px;
    padding: 1em 0 2em;
    margin-left: auto;
    margin-right: auto; }
    #footer .footer-patrons .patron-list {
      padding: 0 0.5em 1em;
      font-size: 0.95em; }
    #footer .footer-patrons .patron {
      padding: 0.15em 0.3em;
      display: inline-block;
      line-height: 1em; }
    #footer .footer-patrons .patron-rank-1 {
      opacity: 0.45; }
    #footer .footer-patrons .patron-rank-2 {
      opacity: 0.75; }
    #footer .footer-patrons .patron-rank-3 {
      color: white; }
    #footer .footer-patrons .patron-rank-4 {
      font-weight: 500; }
    #footer .footer-patrons .patron-rank-5 {
      font-weight: 900;
      color: white;
      font-size: 115%;
      line-height: 0.74em; }
    #footer .footer-patrons a {
      text-decoration: underline; }
    #footer .footer-patrons .button, #footer .footer-patrons .button-light, #footer .footer-patrons .button-inline, #footer .footer-patrons .button-red {
      margin: 0 1em; }
  #footer .social {
    padding-top: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
    #footer .social img {
      display: inline-block;
      width: 30px;
      margin-right: 0.5em;
      margin-top: -2px;
      vertical-align: middle; }
  #footer a {
    color: #f6f6f6; }
  #footer a:hover {
    text-decoration: underline; }
  #footer h2 {
    color: #f6f6f6; }

.footer-cat {
  margin-left: 210px; }

#email-form {
  display: inline-block;
  margin-left: 0.7em;
  color: white;
  text-align: center;
  font-size: 1.15em; }
  #email-form .gumroad-follow-form-embed:before, #email-form .gumroad-follow-form-embed:after {
    line-height: 0;
    content: ""; }
  #email-form .gumroad-follow-form-embed:after {
    clear: both; }
  #email-form .gumroad-follow-form-embed * {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box !important;
    font-size: 0.8em; }
  #email-form .gumroad-follow-form-embed input {
    border: 1px solid rgba(240, 240, 240, 0.2);
    border-right: 0;
    color: #141414;
    padding: 0.5em;
    text-align: center; }
  #email-form .gumroad-follow-form-embed button {
    padding: 0.5em;
    cursor: pointer;
    background: #F96854;
    color: #f6f6f6;
    border: 1px solid rgba(249, 104, 84, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0);
    transition: 0.2s ease; }
    #email-form .gumroad-follow-form-embed button:hover {
      background: #fa7e6d;
      transition: 0.2s ease; }

#push-footer {
  min-height: calc(100vh - 54px - 328px);
  border-bottom: 1px solid transparent; }

#landing-banner-wrapper {
  position: relative;
  height: 512px;
  text-align: center; }

#banner-img, #banner-img-a, #banner-img-b {
  position: absolute;
  width: 100%;
  height: 512px;
  background-size: cover !important;
  transition: opacity 0.3s ease; }

#banner-img-a {
  background: url(/files/site_images/landing/robert_bodis_red_straight.jpg) no-repeat center center; }

#banner-img-b {
  background: url(/files/site_images/landing/robert_bodis_red_straight.jpg) no-repeat center center; }

.banner-img-credit {
  position: absolute;
  left: 0;
  bottom: 1em;
  color: #f6f6f6;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.65;
  padding: 0.5em 0.7em;
  transition: all 0.15s ease; }
  .banner-img-credit:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
    transition: all 0.15s ease; }
  .banner-img-credit a {
    color: #f6f6f6;
    text-decoration: underline; }

.banner-img-paddle {
  position: absolute;
  top: 0;
  z-index: 14;
  color: #f6f6f6;
  cursor: pointer;
  transition: all 0.3s ease; }
  .banner-img-paddle:hover {
    user-select: none;
    -moz-user-select: none;
    transform: scale(1.1);
    text-shadow: 0 0 4px black;
    transition: all 0.15s ease; }
  .banner-img-paddle i {
    font-size: 3em;
    line-height: 512px; }

#banner-img-paddle-l {
  left: 0; }

#banner-img-paddle-r {
  right: 0; }

#banner-title-wrapper {
  position: relative;
  z-index: 13;
  top: 50%;
  transform: translateY(calc(-50% - 2em)); }
  #banner-title-wrapper #banner-logo {
    width: calc(100% - 3em);
    max-width: 512px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3)); }
  #banner-title-wrapper p, #banner-title-wrapper q {
    position: absolute;
    width: calc(100% - 2em);
    padding-top: 1em;
    color: white;
    font-size: 1.3em;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.55); }

.segment, .segment-a, .segment-b {
  text-align: center;
  padding: 1em 1em 2em; }

.segment-b {
  background-color: #e6e6e6; }

.segment-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .segment-inner h1 {
    padding-bottom: 0; }
  .segment-inner h2.patreon-stat {
    padding-top: 1em;
    padding-bottom: 1em; }

.segment-montage {
  text-align: center;
  background: url(/files/site_images/bottom_banner.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; }
  .segment-montage .button, .segment-montage .button-light, .segment-montage .button-inline, .segment-montage .button-red {
    margin: 150px 1em; }

.segment-about {
  max-width: 1024px; }
  .segment-about p, .segment-about q {
    text-align: justify; }

.text-block {
  max-width: 640px;
  margin: 1.25em;
  margin-left: auto;
  margin-right: auto; }
  .text-block p, .text-block q {
    text-align: justify;
    margin: 0.5em 1em; }
  .text-block h2 {
    padding-top: 1em; }

.patreon-bar-wrapper {
  margin-left: auto;
  margin-right: auto; }

.patreon-bar-outer {
  width: calc(100% - 12px);
  height: 30px;
  border: 6px solid #53a1b8;
  border-radius: 21px; }

.patreon-bar-inner-wrapper {
  width: calc(100% - 4px); }

.patreon-bar-inner {
  height: 26px;
  margin: 2px;
  border-radius: 15px;
  background-color: #53a1b8;
  max-width: 100%;
  min-width: 26px; }

.patreon-current-goal {
  color: #53a1b8;
  font-size: 1.3em;
  text-align: right;
  padding: 0.5em 0.3em 0;
  width: 100%; }
  .patreon-current-goal i {
    position: relative;
    top: -0.4em;
    font-size: 1.2em; }

#hdris-landing-page .segment, #hdris-landing-page .segment-a, #hdris-landing-page .segment-b {
  padding: 2em 1em; }
#hdris-landing-page .col-4 h2 {
  padding: 1em 0.5em 0; }
#hdris-landing-page .col-4 p, #hdris-landing-page .col-4 q {
  margin: 0.5em; }
#hdris-landing-page .category-segment {
  position: relative;
  overflow: hidden;
  padding: 1em 2em; }
  #hdris-landing-page .category-segment .fade-gradient, #hdris-landing-page .category-segment .fade-gradient-left, #hdris-landing-page .category-segment .fade-gradient-right {
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 0.5s ease; }
  #hdris-landing-page .category-segment .fade-gradient-left {
    left: 0;
    right: 90%;
    background: linear-gradient(to left, transparent, #e6e6e6); }
  #hdris-landing-page .category-segment .fade-gradient-right {
    left: 90%;
    right: 0;
    background: linear-gradient(to right, transparent, #e6e6e6); }
  #hdris-landing-page .category-segment #scroll-cat, #hdris-landing-page .category-segment #scroll-cat-right, #hdris-landing-page .category-segment #scroll-cat-left {
    position: absolute;
    top: 0;
    line-height: calc(180px + 0.6em);
    right: 0;
    font-size: 3.5em;
    cursor: pointer;
    transition: all 0.2s ease; }
    #hdris-landing-page .category-segment #scroll-cat:hover, #hdris-landing-page .category-segment #scroll-cat-right:hover, #hdris-landing-page .category-segment #scroll-cat-left:hover {
      color: #f6f6f6;
      user-select: none;
      -moz-user-select: none;
      transform: scale(1.1);
      text-shadow: 0 0 4px black;
      transition: all 0.15s ease; }
  #hdris-landing-page .category-segment #scroll-cat-left {
    right: auto;
    left: 0; }
#hdris-landing-page .grid-item {
  width: calc(25% - 1em - 2px);
  text-align: left; }
#hdris-landing-page .button, #hdris-landing-page .button-light, #hdris-landing-page .button-inline, #hdris-landing-page .button-red {
  margin: 1em; }
#hdris-landing-page .hdri-landing-banner-icon {
  width: 150px; }

@media all and (max-width: 1000px) {
  #hdris-landing-page .grid-item {
    width: calc(50% - 1em - 2px); } }
.category-list-images {
  position: relative;
  left: 0;
  white-space: nowrap;
  text-align: left; }
  .category-list-images li {
    position: relative;
    display: inline-block;
    margin: 0 1em;
    width: 180px;
    height: 180px;
    color: white;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s ease; }
    .category-list-images li:hover {
      box-shadow: 0 0 55px 5px white;
      transform: scale(1.05); }
      .category-list-images li:hover .background-image {
        opacity: 1;
        transform: scale(1); }
    .category-list-images li .background-image {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover !important;
      opacity: 0.9;
      transform: scale(1.1);
      transition: all 0.2s ease; }
    .category-list-images li p, .category-list-images li q {
      position: relative;
      margin: 0;
      line-height: 180px;
      text-align: center;
      font-size: 1.4em;
      font-weight: 500;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.55); }

#sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
  z-index: 21;
  color: #f6f6f6; }
  #sidebar-toggle i {
    padding: 0.5em;
    font-size: 1.65em; }

#sidebar {
  position: fixed;
  top: 53px;
  bottom: 0;
  width: 210px;
  padding-bottom: 1em;
  overflow: auto;
  color: #f6f6f6;
  background-color: #53a1b8; }
  #sidebar h3 {
    padding: 0.5em;
    color: #f6f6f6; }
  #sidebar .category-list-wrapper a {
    color: #f6f6f6;
    text-decoration: none; }
  #sidebar .category-list-wrapper ul {
    margin: 0;
    line-height: 1em;
    font-size: 1em; }
  #sidebar .category-list-wrapper li {
    padding: 0.46em 0.5em 0.24em;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    transition: all 0.25s ease; }
    #sidebar .category-list-wrapper li:hover {
      color: white;
      background: #70b1c4;
      transition: all 0.15s ease; }
    #sidebar .category-list-wrapper li .material-icons {
      position: relative;
      top: -2px;
      opacity: 0.7; }
    #sidebar .category-list-wrapper li .num-in-cat {
      display: inline-block;
      line-height: 22px;
      width: 22px;
      height: 22px;
      margin-left: 0.5em;
      margin-top: -1px;
      vertical-align: top;
      text-align: center;
      font-size: 70%;
      font-weight: 500;
      border-radius: 50%;
      background-color: #f6f6f6;
      color: #53a1b8;
      opacity: 0.9; }
  #sidebar .category-list-wrapper .current-cat {
    background: #70b1c4; }

#hdri-grid-wrapper {
  position: relative;
  left: 210px;
  top: 0;
  width: calc(100% - 210px - 2em);
  padding: 1em; }
  #hdri-grid-wrapper .title-bar {
    padding: 1em;
    padding-bottom: 0; }
    #hdri-grid-wrapper .title-bar h1 {
      display: inline;
      padding: 0; }
    #hdri-grid-wrapper .title-bar .grid-option-wrapper {
      float: right; }
    #hdri-grid-wrapper .title-bar .grid-option {
      display: inline-block;
      position: relative;
      padding: 0.35em 0.5em;
      padding-right: 1em;
      margin-right: 0.5em;
      color: #2e2e2e;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      #hdri-grid-wrapper .title-bar .grid-option:last-child {
        margin-bottom: 0;
        margin-right: 0; }
      #hdri-grid-wrapper .title-bar .grid-option:hover .sort-arrow {
        transform: rotate(-90deg);
        transition: all 0.15s ease; }
      #hdri-grid-wrapper .title-bar .grid-option .material-icons {
        transition: all 0.2s ease; }
      #hdri-grid-wrapper .title-bar .grid-option a {
        color: #53a1b8; }
    #hdri-grid-wrapper .title-bar .dropdown {
      position: absolute;
      left: 0;
      top: 100%;
      width: calc(100% - 2px);
      background-color: #f0f0f0;
      border: 1px solid rgba(46, 46, 46, 0.5);
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
      transition: all 0.15s ease; }
      #hdri-grid-wrapper .title-bar .dropdown a {
        color: #2e2e2e;
        text-align: right;
        text-decoration: none; }
    #hdri-grid-wrapper .title-bar .dropdown-item {
      padding: 0.55em 0.75em;
      font-size: 0.9em;
      transition: all 0.2s ease; }
      #hdri-grid-wrapper .title-bar .dropdown-item:hover {
        color: #f6f6f6;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #70b1c4;
        border-top: 0;
        transition: all 0.15s ease; }
    #hdri-grid-wrapper .title-bar .search-box {
      padding: 0.3em 0.45em;
      max-width: 200px;
      cursor: default; }
      #hdri-grid-wrapper .title-bar .search-box .material-icons {
        padding-right: 0;
        color: #2e2e2e; }
      #hdri-grid-wrapper .title-bar .search-box .search-reset {
        transition: all 0.15s ease; }
        #hdri-grid-wrapper .title-bar .search-box .search-reset:hover {
          transform: rotate(-90deg);
          transition: all 0.15s ease; }
    #hdri-grid-wrapper .title-bar .search-form {
      margin: 0;
      padding: 0; }
    #hdri-grid-wrapper .title-bar input.search {
      width: calc(100% - 34px);
      height: 24px;
      vertical-align: middle; }
    #hdri-grid-wrapper .title-bar input.search-active {
      width: calc(100% - 24px - 24px - 8px); }
    #hdri-grid-wrapper .title-bar input.search, #hdri-grid-wrapper .title-bar button.search {
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      border: 0;
      color: #2e2e2e; }
    #hdri-grid-wrapper .title-bar button.search:hover {
      cursor: pointer; }

#hdri-grid {
  padding: 0 1em;
  clear: both; }

.grid-item {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  border: 1px solid transparent;
  width: calc(33.33% - 1em - 2px);
  transition: all 0.2s ease; }
  .grid-item .thumbnail-wrapper {
    padding: 1em; }
  .grid-item .thumbnail {
    width: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05); }
  .grid-item .description-wrapper {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: calc(100% - 2em);
    margin: 0 1em 1em;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    opacity: 0;
    transition: all 0.2s ease; }
  .grid-item .description {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    color: #f6f6f6; }
    .grid-item .description h3 {
      color: #f6f6f6;
      padding-bottom: 0.2em;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    .grid-item .description p, .grid-item .description q {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      opacity: 0.7;
      margin: 0;
      line-height: 1; }
  .grid-item .problem-icon {
    position: absolute;
    top: 0.75em;
    left: 1.1em;
    color: #eee;
    transform: rotate(-45deg);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.75em; }
  .grid-item .problem-triangle, .grid-item .problem-triangle-shadow {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4em 4em 0 0;
    border-color: #F96854 transparent transparent transparent;
    transition: all 0.15s ease; }
  .grid-item .problem-triangle-shadow {
    border-width: 51px 51px 0 0;
    border-color: rgba(0, 0, 0, 0.15) transparent transparent transparent; }
  .grid-item .problem {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 1.44em 0;
    width: 0;
    opacity: 0;
    background-color: #fa7e6d;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.15s ease; }
    .grid-item .problem .problem-text {
      font-size: 1.15em;
      text-align: center;
      color: #eee; }
  .grid-item .problem-hover {
    opacity: 1;
    padding: 1.44em 3em;
    width: calc(100% - 8em);
    transition: all 0.15s ease; }
  .grid-item .new {
    position: absolute;
    top: 1.65em;
    right: 1em;
    color: #eee;
    transform: rotate(45deg);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.15em; }
  .grid-item .new-triangle, .grid-item .new-triangle-shadow {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4em 4em 0;
    border-color: transparent #9bd63d transparent transparent; }
  .grid-item .new-triangle-shadow {
    border-width: 0 51px 51px 0;
    border-color: transparent rgba(0, 0, 0, 0.15) transparent transparent; }
  .grid-item .has-backplates {
    color: white;
    position: absolute;
    right: 0.5em;
    bottom: 0.3em; }
  .grid-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;
    box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease;
    transition: all 0.15s ease; }
    .grid-item:hover .description-wrapper {
      opacity: 1;
      transition: all 0.15s ease; }

#hdri-page h1 {
  text-align: center;
  font-size: 1.3em;
  padding-top: 1.5em;
  line-height: 1.8em; }
  #hdri-page h1 a {
    position: relative; }
    #hdri-page h1 a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      content: "";
      border-bottom: 1px solid rgba(83, 161, 184, 0.2); }
    #hdri-page h1 a:hover:after {
      border-color: #53a1b8; }
  #hdri-page h1 b {
    font-size: 1.7em;
    font-weight: 300; }
#hdri-page h2 {
  padding: 0.75em 0.75em 0; }
#hdri-page img {
  max-width: 100%; }
#hdri-page #page-wrapper {
  padding-top: 1.25em; }
#hdri-page .col-2, #hdri-page .col-3, #hdri-page .col-4 {
  vertical-align: top; }
#hdri-page .coming-soon {
  font-size: 2em;
  color: #F96854; }

#hdri-preview {
  position: relative;
  width: 100%;
  text-align: center;
  background-size: contain;
  background-position: center; }
  #hdri-preview .darken {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.75; }
  #hdri-preview .button-overlay {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em; }
    #hdri-preview .button-overlay .button, #hdri-preview .button-overlay .button-light, #hdri-preview .button-overlay .button-inline, #hdri-preview .button-overlay .button-red {
      font-size: 1em;
      padding: 0.2em;
      margin-right: 0.5em;
      color: #2e2e2e;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      #hdri-preview .button-overlay .button:hover, #hdri-preview .button-overlay .button-light:hover, #hdri-preview .button-overlay .button-inline:hover, #hdri-preview .button-overlay .button-red:hover {
        background-color: #f0f0f0; }
    #hdri-preview .button-overlay .btn-text {
      padding: 0.5em 0.7em; }
    #hdri-preview .button-overlay .btn-fixed-size {
      min-width: 28px;
      line-height: 28px;
      user-select: none;
      -moz-user-select: none; }
  #hdri-preview .exposure-button-overlay {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 500; }
    #hdri-preview .exposure-button-overlay #btn-exposure-reset {
      padding: 0.2em 0.5em; }
  #hdri-preview #main-preview {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto; }
    #hdri-preview #main-preview img {
      width: 100%; }
  #hdri-preview #pannellum-wrapper {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    #hdri-preview #pannellum-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #hdri-preview #exposure-wrapper {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto; }

.download-buttons {
  position: relative;
  padding-top: 1em;
  padding-right: 1em; }
  .download-buttons .button-light, .download-buttons .button-inline, .download-buttons .button-red, .download-buttons .button {
    position: relative;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    .download-buttons .button-light:hover, .download-buttons .button-inline:hover, .download-buttons .button-red:hover, .download-buttons .button:hover {
      border: 1px solid transparent; }
    .download-buttons .button-light b, .download-buttons .button-inline b, .download-buttons .button-red b, .download-buttons .button b {
      font-weight: 900; }

#hdri-info {
  padding-top: 0.75em; }

.hdri-info-list {
  list-style: none; }
  .hdri-info-list li {
    padding-bottom: 0.5em;
    margin: 0; }
    .hdri-info-list li:last-child {
      padding-bottom: 0; }

#sponsor-list {
  list-style: none; }
  #sponsor-list li {
    font-weight: 900;
    padding-bottom: 0.5em;
    margin-left: 0; }
    #sponsor-list li:last-child {
      padding-bottom: 0; }

#backplates-grid {
  margin: 1em 0; }
  #backplates-grid .item {
    display: inline-block;
    padding: 5px;
    width: calc(25% - 10px);
    vertical-align: middle; }
    #backplates-grid .item img {
      width: 100%; }

#user-renders {
  margin: 1em 0; }
  #user-renders .user-render {
    position: relative; }
    #user-renders .user-render .user-render-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      opacity: 0;
      transition: all 0.15s ease; }
    #user-renders .user-render:hover {
      box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.2);
      transition: all 0.15s ease; }
      #user-renders .user-render:hover .user-render-info {
        opacity: 0.85;
        transition: all 0.15s ease; }

#similar-hdris #hdri-grid {
  padding: 0; }

.vault-wrapper {
  margin-top: 2em;
  text-align: center; }
  .vault-wrapper .vault-number {
    color: #53a1b8;
    font-size: 12em;
    font-weight: 900; }
  .vault-wrapper .patreon-bar-wrapper {
    margin: 1em 2em; }
    .vault-wrapper .patreon-bar-wrapper .patreon-bar-outer {
      height: 16px;
      border: 3px solid #53a1b8; }
      .vault-wrapper .patreon-bar-wrapper .patreon-bar-outer .patreon-bar-inner {
        height: 12px;
        min-width: 12px; }
      .vault-wrapper .patreon-bar-wrapper .patreon-bar-outer .achieved {
        background-color: #9bd63d; }
    .vault-wrapper .patreon-bar-wrapper .achieved {
      border-color: #9bd63d; }
  .vault-wrapper p, .vault-wrapper q {
    color: #53a1b8;
    margin-top: 0.3em; }

#gallery-wrapper {
  width: calc(100% - 1em);
  padding: 0.5em; }
  #gallery-wrapper .item {
    border: none;
    transition: all 0.15s ease; }
    #gallery-wrapper .item:hover {
      box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, 0.8);
      transition: all 0.15s ease; }
    #gallery-wrapper .item img {
      display: block;
      width: auto;
      height: 100%; }
  #gallery-wrapper #submit-render-btn {
    color: #53a1b8; }
    #gallery-wrapper #submit-render-btn p, #gallery-wrapper #submit-render-btn q {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      text-align: center;
      font-weight: 500; }

.lightbox-trigger {
  cursor: zoom-in; }

#lightbox-wrapper {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: zoom-out;
  transition: all 0.15s ease; }
  #lightbox-wrapper #lightbox-img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 80%;
    top: 50%;
    transform: translateY(calc(-50% - 3.5em)); }
  #lightbox-wrapper #lightbox-text {
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white; }
    #lightbox-wrapper #lightbox-text a {
      color: white;
      text-decoration: underline; }
    #lightbox-wrapper #lightbox-text .hide-link {
      cursor: zoom-out;
      text-decoration: none !important; }
    #lightbox-wrapper #lightbox-text .button, #lightbox-wrapper #lightbox-text .button-light, #lightbox-wrapper #lightbox-text .button-inline, #lightbox-wrapper #lightbox-text .button-red {
      font-size: inherit;
      padding: 0.4em 0.6em;
      margin: 0 0.5em; }
  #lightbox-wrapper #lightbox-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    transition: all 0.15s ease; }
    #lightbox-wrapper #lightbox-close:hover {
      transform: rotate(-90deg);
      transition: all 0.15s ease; }
    #lightbox-wrapper #lightbox-close i {
      color: white;
      font-size: 2em; }

#gallery-form {
  border: 1px solid rgba(83, 161, 184, 0.5);
  margin: 1em; }
  #gallery-form .form-item {
    padding: 0.75em 1em;
    border-bottom: 1px solid rgba(83, 161, 184, 0.2); }
  #gallery-form .error {
    background-color: rgba(249, 104, 84, 0.3);
    text-align: center; }
    #gallery-form .error h2 {
      display: block;
      padding: 0.5em;
      color: #F96854;
      font-weight: 500; }
  #gallery-form h2 {
    display: inline-block;
    padding: 0;
    font-size: 1.2em;
    vertical-align: middle; }
  #gallery-form p, #gallery-form q {
    display: inline;
    margin: 0;
    font-size: 1em;
    vertical-align: middle;
    line-height: 1.5em; }
  #gallery-form em {
    opacity: 0.6;
    padding-right: 0.5em; }
  #gallery-form input {
    padding: 0.5em;
    margin: 0 0.75em; }
  #gallery-form input::placeholder {
    opacity: 0.5;
    font-style: italic; }
  #gallery-form input[type=submit] {
    display: block;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto; }

.gallery-fav {
  position: relative;
  text-align: center;
  margin: 2em; }
  .gallery-fav img {
    max-width: 80%; }
  .gallery-fav .fa {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 20px);
    color: #F96854;
    font-size: 3em;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }
    .gallery-fav .fa:hover {
      transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
