$c-accent: rgb(65, 187, 217);
$hide_header_patreon_bar: 1102px;
$shrink_hack_width: 850px;
$default_banner_img: url(/files/site_images/landing/robert_bodis_red_straight.jpg);
$display_banner_credit: block;  // Hide if it's only our own work

@import "../core/core";


// ============================================================================
// Sidebar
// ============================================================================

#sidebar {
    .category-list-wrapper {
        li {
            padding: 0.46em 0.5em 0.24em;
        }
    }
}


// ============================================================================
// HDRI Grid
// ============================================================================

.grid-item {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    border: 1px solid rgba(0,0,0,0);
    width: calc(33.33% - 1em - 2px);
    @include transition(0.2s);

    .thumbnail-wrapper {
        margin: 1em;
    }
    .thumbnail {
        width: 100%;
        min-height: 200px;
        box-shadow: 0 0 2px 1px rgba(black,0.05);
    }
    .thumbnail-proxy {
        position: absolute;
        width: calc(100% - 2em);
        filter: blur(7px);
        @include transition(0.2s);
    }

    .description-wrapper {
        position: absolute;
        bottom: 0;
        height: 25%;
        width: calc(100% - 2em);
        margin: 0 1em 1em;
        background: linear-gradient(transparent, rgba(black, 0.5));
        opacity: 0;
        @include transition(0.2s);
    }
    .description {
        position: absolute;
        bottom: 0.5em;
        left: 0.5em;
        color: $c-text-bright;

        h3 {
            color: $c-text-bright;
            padding-bottom: 0.2em;
            text-shadow: 1px 1px 1px rgba(black, 0.5);
        }
        p {
            text-shadow: 1px 1px 1px rgba(black, 0.5);
            opacity: 0.7;
            margin: 0;
            line-height: 1;
        }
    }

    .problem-icon {
        position: absolute;
        top: 0.75em;
        left: 1.1em;
        color: #eee;
        transform: rotate(-45deg);
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
        font-size: 1.75em;
    }
    .problem-triangle, .problem-triangle-shadow {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4em 4em 0 0;
        border-color: $c-red transparent transparent transparent;
        @include transition();
    }
    .problem-triangle-shadow {
        border-width: 51px 51px 0 0;
        border-color: rgba(0,0,0,0.15) transparent transparent transparent;
    }
    .problem {
        position: absolute;
        top: 1em;
        left: 1em;
        padding: 1.44em 0;
        width: 0;
        opacity: 0;
        background-color: $c-red-light;
        white-space: nowrap;
        overflow: hidden;
        @include transition();

        .problem-text {
            font-size: $std-font-size;
            text-align: center;
            color: #eee;
        }
    }
    .problem-hover {
        opacity: 1;
        padding: 1.44em 3em;
        width: calc(100% - 8em);
        @include transition();
    }

    .new {
        position: absolute;
        top: 1.65em;
        right: 1em;
        color: #eee;
        transform: rotate(45deg);
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
        font-size: $std-font-size;
    }
    .new-triangle, .new-triangle-shadow {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4em 4em 0;
        border-color: transparent $c-green transparent transparent;
    }
    .new-triangle-shadow {
        border-width: 0 51px 51px 0;
        border-color: transparent rgba(0,0,0,0.15) transparent transparent;
    }

    .has-backplates {
        color: white;
        position: absolute;
        right: 0.5em;
        bottom: 0.3em;
    }

    &:hover {
        border: 1px solid rgba(0,0,0,0.1);
        background-color: $c-background-lightish;
        @include drop-shadow();
        @include transition(0.15s);

        .description-wrapper {
            opacity: 1;
            @include transition(0.15s);
        }
    }
}


// ============================================================================
// HDRI Page
// ============================================================================

#item-preview {
    position: relative;
    width: 100%;
    text-align: center;
    background-size: contain;
    background-position: center;

    .darken {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.75;
    }

    .button-overlay {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1em;

        .button {
            font-size: 1em;
            padding: 0.2em;
            margin-right: 0.5em;
            color: $c-text-dark;
            background-color: white;
            border: 1px solid rgba(black, 0.2);
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        .btn-text {
            padding: 0.5em 0.7em;
        }
        .btn-fixed-size {
            min-width: 28px;
            line-height: 28px;
            user-select: none;
            -moz-user-select: none;
        }
    }

    .exposure-button-overlay {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: $fw-bold;

        #btn-exposure-reset {
            padding: 0.2em 0.5em;
        }
    }

    #main-preview {
        position: relative;
        width: 100%;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 100%;
        }
    }

    #pannellum-wrapper {
        display: none;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    #exposure-wrapper {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.download-buttons {
    position: relative;
    margin-top: 1em;
    margin-right: 1em;
    border-bottom: 1px solid $c-background-light;

    .button {
        @extend .button-inverse;
        position: relative;
        display: block;
        text-align: center;
        color: $c-text-light;
        border: 1px solid $c-background-light;
        border-bottom: none;

        b {
            font-weight: $fw-extra-bold;
        }
    }
}

#item-info {
    padding-top: 0.75em;
}

.item-info-list {
    list-style: none;

    li {
        padding-bottom: 0.5em;
        margin: 0;

        a {
            i {
                display: inline;
                padding: 0.1em;
                vertical-align: bottom;
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                }
            }

            &:first-of-type i {
                padding-left: 0.2em;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

#backplates-grid {
    margin: 1em 0;

    .item {
        display: inline-block;
        padding: 5px;
        width: calc(25% - 10px);
        vertical-align: middle;

        img {
            width: 100%;
        }
    }
}

#similar-items {
    #item-grid {
        padding: 0;
    }
}


// ============================================================================
// Vault Info
// ============================================================================

.vault-wrapper {
    margin-top: 2em;
    text-align: center;

    .vault-number {
        color: $c-accent;
        font-size: 12em;
        font-weight: $fw-extra-bold;
    }

    .patreon-bar-wrapper {
        margin: 1em 2em;

        .patreon-bar-outer {
            height: 16px;
            border: 3px solid $c-accent;

            .patreon-bar-inner {
                height: 12px;
                min-width: 12px;
            }

            .achieved {
                background-color: $c-green;
            }
        }

        .achieved {
            border-color: $c-green;
        }
    }

    p {
        color: $c-accent;
        margin-top: 0.3em;
    }
}


// ============================================================================
// Misc
// ============================================================================

#ev-calc-form {
    text-align: center;
}
