// Smaller than 760

@import "../core/core_small";

.category-list-images li{
    margin: 0 0.5em;
    width: 100px;
    height: 100px;

    p {
        line-height: 100px;
        width: 100px;
        height: 100px;
    }
}
#hdris-landing-page .category-segment {
    overflow-x: scroll;
}
#hdris-landing-page .grid-item {
    width: auto;
}

#item-grid .adsense-unit {
    width: calc(100% - 2px);
    margin: 0;
}

#text-section-wrapper {
    flex-direction: column-reverse;
}
